body {
    background-color: LightGray;
    margin: 0;
}

div {
    border: 1px solid Chocolate;
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
}

.top-navigation > .content {
    width: 60rem;
    height: 4.375rem;
    margin: 0 auto;
}

.logo {
margin-left: 4.6rem;
margin-top: .95rem;
}